<div class="container">
    <h2>Lista de Empleados</h2>
<table class="table table-striped">
    <thead class="table-dark  text-center">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center" >
        <tr *ngFor="let empleado of empleados">
            <td> {{empleado.nombre}} </td>
            <td>{{empleado.apellido}} </td>
            <td>{{empleado.email}} </td>
            <td>
                <button (click)="actualizarEmpleado(empleado.id)" class="btn btn-warning">Editar</button>
                <button (click)="eliminarEmpleado(empleado.id)" class="btn btn-danger" style="margin-left: 5px;">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>
</div>

