<div class="container">
    <h2>Lista de Empleados</h2>
<table class="table table-striped">
    <thead class="table-dark  text-center">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody class="text-center" >
        <tr *ngFor="let empleado of empleados">
            <td> {{empleado.nombre}} </td>
            <td>{{empleado.apellido}} </td>
            <td>{{empleado.email}} </td>
        </tr>
    </tbody>
</table>
</div>

