 
    <!--menu dialog form-->
    <!--[(visible)]="displaySaveDialog" es para darle valor true o false
    [modal]="true" es para que se vea mejor la modal-->
    <p-dialog header="Nuevo Producto" [(visible)]="displaySaveDialog"  [modal]="true" >
        <div class="ui-g ui-fluid" [ngStyle]="{backgroundColor:'var(--blue-200)'}" >
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="nombre" [(ngModel)]="producto.nombre" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="descripcion">Descripción</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="descripcion" [(ngModel)]="producto.descripcion" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="precio">Precio</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="precio" [(ngModel)]="producto.precio" />
                </div>
            </div>              
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="save()" label="Guardar"></button>
            </div>
        </p-footer>
    </p-dialog>
    
<!--Tabla dos-->
<div  class="ui-g">
    <!--para mostrar mensaje de guardado -->
    <p-toast></p-toast>
    <!--para mostrar mensaje de advertencia al eliminar producto-->
    <p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>
      
    <p-panel  header="Gestión de Productos" [style]="{width: '100%', margin: ' 0 auto'}">
    
    <p-panel header="Administración de Productos" [style]="{width: '100%', margin: ' 0 auto'}">
    <!--formulario para buscar productos-->
<div class="mt-2  mb-4">
    <form class="flex card-container flex-row flex-wrap" autocomplete="off" [formGroup]="formFilter" novalidate>

        <!--buscar bancos-->
        <div class="flex card-container flex-row flex-wrap">

            <!--input banco-->
            <div class="flex flex-column  ">
                <span class="span-input">
                    <input [style]="{'width': '300px','height':'38px'}" type="text" pInputText
                     formControlName="nombre" />
                </span>
            </div>

            <!--boton buscar producto -->
            <div class="flex flex-column  ml-4">
                <button
                    class="p-button-secondary border-none cursor-pointer text-center text-white flex align-items-center justify-content-center pb-2"
                    pButton  (click)="getProdFilter()" [style]="{'height':'37px'}">Buscar</button>
            </div>
             <!--boton buscar producto -->
             <div class="flex flex-column  ml-4">
                <button
                    class="p-button-secondary border-none cursor-pointer text-center text-white flex align-items-center justify-content-center pb-2"
                    pButton   [style]="{'height':'37px'}" (click)="clearFilters()">Limpiar</button>
            </div>

        </div>
    </form>
</div> 
    <!--menu-->
    <div  style="margin-bottom: 20px;"  >
        <!--model trae el array items con los iconos desde producto.component.ts-->
        <p-menubar [model]="items"></p-menubar>
    </div>
    <!--tabla dos-->
    <p-table [value]="datos" [columns]="cols"  responsiveLayout="stack" breakpoint="200px" [paginator]="true"
     [rows]="5" [rowHover]="true"  [scrollable]="true" selectionMode="single" [(selection)]="selectedProducto"
     dataKey="id" >
     <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Descrpcion</th>
          <th>Precio</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-datos let-editing="editing" let-ri="rowIndex">
        <!--[pSelectableRow]="producto" para seleccionar filas y editar o eliminar-->
        <tr [pSelectableRow]="datos">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input [style]="{'width':'300px', 'height':'38px'}"  pInputText
                  type="text" appendTo="body" class="p-inputtext-sm" editable="true" [(ngModel)]="datos.nombre">
              </ng-template>
              <ng-template pTemplate="output">
                {{datos.nombre}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input [style]="{'width':'300px', 'height':'38px'}"  pInputText
                    type="text" appendTo="body" class="p-inputtext-sm" editable="true" [(ngModel)]="datos.descripcion">
                </ng-template>
                <ng-template pTemplate="output">
                  {{datos.descripcion}}
                </ng-template>
              </p-cellEditor>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input [style]="{'width':'300px', 'height':'38px'}"  pInputText
                      type="text" appendTo="body" class="p-inputtext-sm" editable="true" [(ngModel)]="datos.precio">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{datos.precio}}
                  </ng-template>
                </p-cellEditor>
              </td>         
        </tr>
      </ng-template>
    
    </p-table>
    </p-panel>

    </p-panel>
   
    <!--menu dialog form-->
    <!--[(visible)]="displaySaveDialog" la variable es traida desde producto.component
    [modal]="true" es para que se vea mejor la modal-->
    <p-dialog header="Buscar Producto" [(visible)]="displayBuscarDialog" [style]="{width:'400px'}"  [modal]="true" >
        <form  autocomplete="off" [formGroup]="formFilter" novalidate>
        <div class="ui-g ui-fluid" [ngStyle]="{backgroundColor:'var(--blue-200)'}" >
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="ui-g-8">
                    <input [style]="{width:'350px'}" pInputText id="nombre" formControlName="nombre" />
                </div>
            </div>                
        </div>
        <p-footer>
            <div class=" mt-2">
                <button type="button" pButton icon="pi pi-check" (click)="getProdFilter()" label="Buscar"></button>
            </div>
        </p-footer>
        </form>
    </p-dialog>
    


