div.p-tooltip.p-component div {
    background-color: var(--primary-color);
    color: white;
    /* Opcion mas oscura:
    background-color: var(--blue-700); */
  }
  div.p-card-body{
    height: 100%;
  }